$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// THEME-COLORS

// BACKGROUND-COLORS
$inputbg: #FAFAFA;
$footerbg: #12141D;
$likesectionbg: #EAEDF5;

$fb-background: #1877F2;
$twitter-background: #1DA1F2;
$instagram-background: #4f5bd5;
$github-background: #171515;

$socialiconbg: #27272A;
$socialhoverbg: #2563EB;
$labelcolor: #5D5F67;
$sliderbadge: #E28110;

// TEXT-COLORS
$black-950: #050505;
$black-900: #3D3D3D;
$black-700: #4F4F4F;
$black-300: #B0B0B0;

$neutral-50: #F5F5F6;
$neutral-100: #E6E6E7;
$neutral-200: #CFCFD2;
$neutral-300: #AEAEB2;
$neutral-400: #85868B;
$neutral-500: #6A6B70;
$neutral-600: #5B5B5F;
$neutral-700: #4D4D51;
$neutral-800: #444546;
$neutral-900: #3C3C3D;
$neutral-950: #19191A;

$green-50: #EFFBEA;
$green-100: #DBF5D2;
$green-200: #BAECAA;
$green-300: #8FDE78;
$green-400: #68CD4E;
$green-500: #49B530;
$green-600: #348E22;
$green-700: #2A6D1E;
$green-800: #2A6D1E;
$green-900: #26571D;
$green-950: #0E280B;

$blue-green-50: #F1F9FE;
$blue-green-100: #E2F1FC;
$blue-green-200: #BFE3F8;
$blue-green-300: #86CDF3;
$blue-green-400: #45B4EB;
$blue-green-500: #1C94D1;
$blue-green-600: #107CB9;
$blue-green-700: #0E6296;
$blue-green-800: #10537C;
$blue-green-900: #134667;
$blue-green-950: #0D2D44;

// GRADIENT-COLORS
$whitelinear: linear-gradient(97deg, rgba($white, 0.95) 1.12%, $white 98.93%);
$normalgradient: linear-gradient(180deg, #1D95D2 -10%, #47B43A 110%);
$hovergradient: linear-gradient(94deg, #1C94D1 7.24%, #49B530 100%);
$reviewbg: linear-gradient(101deg, #10537C 0%, #47B43A 99.27%);
$sectionbg-gredient-1: linear-gradient(90deg, #FBEFFB 44.6%, rgba(242, 241, 250, 0.00) 70.18%);
$sectionbg-gredient-2: linear-gradient(90deg, #E6F8E3 25.85%, rgba(230, 248, 227, 0.00) 103.62%);
$sectionbg-gredient-3: linear-gradient(90deg, #DEF6FE 25.85%, rgba(222, 246, 254, 0.00) 103.62%);
$cardservicebg: linear-gradient(97deg, rgba(255, 255, 255, 0.95) 1.12%, #FFF 98.93%);

$sectionbg-1: #F2F1FA;

$gray: #A9A9A9;
$lightgray: #F5F5F5;
$paynesgray: #5D5F71;
$puregreen: #26BF6A;
$green: #0A8943;
$greenmiddle: #2DCA73;
$lightgreen: #DDF7E9;
$red: #EA0C0C;
$redgray: #EF4444;
$elmbrownred: #F8F0E6;
$pinklight: #FFEBEB;
$yellow: #FDBB2C;
$pureyellow: #F9851A;
$purple: #9F7AEA;
$lightpurple: #F6F2FD;
$bluelightgreen: #E9F8F8;
$blackcolor: #000520;
$coffee: #F2EFE9;
$brightblue: #3786FC;
$bluelight: #EBF3FF;
$whiteblue: #F8F9FB;
$testblue: #6687A3;
$aliceblue: #EBF3FF;
$hawkesblue: #D7DFE9;
$olive: #9CA23D;
$lightpink: #FDCECE;
$sweet: #FEE2B1;
$lavender: #E6E8F8;
$linkcolor: #7D7F85;
$titlecolor: #171F46;
$ratingstarbg: #F59E0B;
$purple: #862BBE;

$badgetext-1: #3C869C;
$badgebg-1: #DDF7FF;
$badgetext-2: #6E6BDC;
$badgebg-2: #ECE9FF;
$badgetext-3: #E54172;
$badgebg-3: #FFDDE1;
$badgetext-4: #5563E2;
$badgebg-4: #ECEFFA;
$badgetext-5: #398A54;
$badgebg-5: #E2F3D7;

$tabsvg: #D9D9D9;
$activetabsvg: #85868B;

$danger: hsl(0, 91%, 54%);

// BORDER-COLORS
$border-black-50: #F6F6F6;
$inputborder: #F1F1F1;
$checkborder: #E7EAEF;
$iconborder: rgba(18, 20, 29, 0.10);
$footerborder: #3F3F46;
$changeborder: #E6E6E6;

// SHADOWS

// BOX-SHADOWS
$authshadow: 0 0 .25rem 0 rgba($black, 0.20);