@use "../global" as *;
@use "../partials" as *;

.authmain {
  padding: size(80) size(8);
  
  @include breakpoint(tab992) {
    padding: size(180) 0;
  }
}

.authsection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include w100;
  padding-bottom: size(340);

  .verifytext {
    color: $neutral-600;
    font-size: size(13);
    font-weight: 400;
    line-height: 1.25;
  }
}

.authentication {
  @include flex-column;
  gap: size(37);

  &-header {
    @include flex-center-column;
    gap: size(20);
  }
}

.authlogo {
  width: size(212);
  height: size(37);
  @include flex-center;
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.authtitle {
  color: $black;
  font-size: size(32);
  font-weight: 700;
  line-height: 2.625;
}