@use "../global" as *;
@use "../partials" as *;

.homemain {
  @include flex-column;
  gap: size(50);
  padding: size(64) size(8);
  
  @include breakpoint(tab992) {
    padding: size(104) size(8);
  }
  
  @include breakpoint(desktop1400) {
    padding: size(168) size(8) size(142);
  }
}

.onlinereport {
  &-content {
    background-repeat: no-repeat;
    background-position: center;
    @include radius(40);
    padding: size(24);

    @include breakpoint(mobile768) {
      padding: size(48);
    }

    @include breakpoint(tab992) {
      padding: size(104) size(64);
    }
  }

  &-details {
    @include flex-column;
    gap: size(34);
  }

  &-header {
    @include flex-column;
    gap: size(14);

    .secbadge {
      color: $purple;
      font-size: size(18);
      font-weight: 600;
    }

    .reporttitle {
      color: $neutral-950;
      font-weight: 700;
    }

    .textbox {
      max-width: size(586);
    }

    .reportext {
      color: $neutral-900;
      font-size: size(16);
      font-weight: 400;
    }
  }
  
  &-body {
    .reportlink {
      width: size(220);
    }
  }
}

.cardsection {
  .leftcard,
  .rightcard {
    background-repeat: no-repeat;
    background-position: center;
    @include radius(40);
    padding: size(32);
    @include h100;

    .cardcontent {
      @include flex-column;
      gap: size(48);

      @include breakpoint(mobile768) {
        max-width: size(294);
      }

      @include breakpoint(tab992) {
        gap: size(80);
      }
    }

    @include breakpoint(mobile768) {
      padding: size(80) size(44);
    }

    &-header {
      @include flex-column;
      gap: size(14);
    }
  }

  .rightcard {
    .cardcontent {
      @include breakpoint(tab992) {
        margin-left: auto;
      }
    }
  }
}

.comingsoon {
  &-content {
    background: $sectionbg-1;
    @include radius(40);
    padding: size(24);
    overflow: hidden;

    @include breakpoint(mobile768) {
      padding: size(48);
    }

    @include breakpoint(tab992) {
      padding: size(32) size(64) size(48);
    }
  }

  &-details {
    @include flex-column;
    gap: size(34);
  }

  &-header {
    @include flex-column;
    gap: size(14);

    .secbadge {
      color: $purple;
      font-size: size(18);
      font-weight: 600;
    }

    .comingtitle {
      color: $neutral-950;
      font-weight: 700;
    }

    .textbox {
      max-width: size(586);
    }

    .comingtext {
      color: $neutral-900;
      font-size: size(16);
      font-weight: 400;
    }
  }
  
  &-body {
    .learnlink {
      width: size(220);
    }
  }

  &-thumbnail {
    @include radius(16);
    @include flex-center;
    overflow: hidden;
  }
}

.reviewsec {
  background: $reviewbg;
  padding: size(64) size(8);
  
  @include breakpoint(tab992) {
    padding: size(104) size(8);
  }

  &-content {
    @include flex-column;
    gap: size(46);
  }

  &-header {
    .subtitle {
      color: rgba($white, 0.6);
      font-size: size(18);
      font-weight: 500;
      line-height: 1.6;
      text-align: center;
    }
  }

  &-body {
    @include flex-center-column;
    gap: size(32);

    .feedbackthumb {
      @include square(44);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .info {
      .username {
        color: $neutral-950;
        font-size: size(16);
        font-style: normal;
        font-weight: 600;
        line-height: 1.75;
      }
  
      .userdesignation {
        color: rgba($neutral-950, 0.7);
        font-size: size(14);
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
}

.whatlike {
  background: $likesectionbg;
  padding: size(64) size(8);
  
  @include breakpoint(tab992) {
    padding: size(104) size(8);
  }

  &-content {
    @include flex-column;
    gap: size(36);
  }
}