@use "../global" as *;
@use "../partials" as *;

.brandlogo {
  width: size(150);
  height: size(37);
  @include flex-center;
  overflow: hidden;

  @include breakpoint(mobile768) {
    width: size(212);
  }

  img {
    object-fit: contain;
  }
}

.footerlogo {
  width: size(212);
  height: size(37);
  @include flex-center;
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.parallax {
  position: relative;
  @include translateY(size(48));
  opacity: 1;
  transition: 1s all ease;

  &.active {
    @include translateY(0);
    opacity: 1;
  }
}
